<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>白传镇</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.css">
    <!--响应式布局-->
    <link rel="stylesheet" href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap-combined.min.css">

    <script src="__STATIC__/bootstrap-3.3.7-dist/js/jquery-ui.js"></script>
    <script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="__STATIC__/bootstrap-3.3.7-dist/js/jquery.ui.touch-punch.min.js"></script>
    <!--<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <script src="__STATIC__/bootstrap-3.3.7-dist/js/jquery-3.2.1.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @media screen and (min-width: 768px){
            .container-fluid{
                width:80%;
            }
        }
        @media screen and (min-width: 992px){
            .container-fluid{
                width:80%;
            }
        }
        @media screen and (min-width: 1200px){
            .container-fluid{
                width:80%;
            }
        }

    </style>
    <style>
        /** { margin: 0; padding: 0;}*/
        .dowebok { position: relative; width: 100% ;   overflow: hidden;margin: 0 0 20px 0;padding-bottom: 50px;}
        .slides img { width: 100%; vertical-align: top;}
        .slide-caption { position: absolute; left: 0; bottom: 0; font-size: 0;width: 100%;height: 50px; background-color: #121212;z-index: 99}
        .slide-caption li{display: inline-block;width: 20%;text-align: center}

        .slide-caption a { font: 14px/50px "Microsoft Yahei";display: inline-block;text-align: center; color: #c8c8c8; text-decoration: none;}
        .slide-caption .flex-active a { color: #e9c06c; background-color: #303030;}
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="{:url('index/123')}">资料</a>
                </li>
                <li>
                    <a href="#">信息</a>
                </li>
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">登录</a>
                    <ul class="dropdown-menu">
                        <!--<li>-->
                            <!--<a href="#">操作</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">设置栏目</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">更多设置</a>-->
                        <!--</li>-->
                        <!--<li class="divider">-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">分割线</a>-->
                        <!--</li>-->

                        <form action="" method="post">
                            <br>
                            <li>用户名：<input type="text" placeholder="请输入用户名" name="username" value="username"></li>
                            <li>密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" placeholder="请输入密码" name="password" value="password"></li>
                            <li><input type="submit" value="登录"></li>
                        </form>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
                <div class="dowebok">
                    <ul class="slides">
                        <li><a href="" target="_blank"><img src="__STATIC__/img/1.jpg" alt=""></a>
                        <li><a href="" target="_blank"><img src="__STATIC__/img/2.jpg" alt=""></a>
                        <li><a href="" target="_blank"><img src="__STATIC__/img/3.jpg" alt=""></a>
                        <li><a href="" target="_blank"><img src="__STATIC__/img/4.jpg" alt=""></a>
                        <li><a href="" target="_blank"><img src="__STATIC__/img/5.jpg" alt=""></a>
                    </ul>
                    <ul class="slide-caption">
                        <li><a href="javascript:">欧米伽小队售卖</a></li>
                        <li><a href="javascript:">武器大师竞技场</a></li>
                        <li><a href="javascript:">凯隐连招教学全解密</a></li>
                        <li><a href="javascript:">《凡性的提醒》</a></li>
                        <li><a href="javascript:">深度复盘第61期</a></li>
                    </ul>
                </div>

                <script src="__STATIC__/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
                <script src="__STATIC__/bootstrap-3.3.7-dist/js/jquery.flexslider-min.js"></script>
                <script>
                    $(window).load(function() {
                        $('.dowebok').flexslider({
                            animation: 'slide',
                            pauseOnHover: true,
                            directionNav: false,
                            manualControls: '.slide-caption li'
                        });

                        var $item = $('.slide-caption').find('li');
                        $item.each(function(i) {
                            var $this = $(this);
                            $this.on('mouseenter', function() {
                                $this.trigger('click');
                            });
                        });
                    });
                </script>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <div class="row-fluid">
                <div class="span4">
                    <div class="hero-unit">
                        <h1>
                            Hello!
                        </h1>
                        <p>
                            这是一个测试网站，欢迎大家提出意见
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" href="#">参看更多 »</a>
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div class="tabbable" id="tabs-877011">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#panel-92107" data-toggle="tab">第一部分</a>
                            </li>
                            <li>
                                <a href="#panel-739122" data-toggle="tab">我喜欢谁</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-92107">
                                <p>
                                    第一部分内容.反对撒啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                                </p>
                            </div>
                            <div class="tab-pane" id="panel-739122">
                                <p>
                                <div id="box">

                                    <input type="checkbox" onclick="checkAll(this)">全选/全不选<br><br>
                                    <input type="checkbox" value="">lq<br>
                                    <input type="checkbox" value="">bb<br>
                                    <input type="checkbox" value="">lp<br>
                                    <input type="checkbox" value="">xbb<br>
                                    <input type="checkbox" value="">dbb<br>
                                    <input type="checkbox" value="">xn<br>

                                </div>
                                <script type="text/javascript">
                                    function checkAll(obj){
                                        $("#box input[type='checkbox']").prop('checked', $(obj).prop('checked'));
                                    }
                                </script>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="accordion" id="accordion-826959">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-826959" href="#accordion-element-957643">选项卡 #1</a>
                            </div>
                            <div id="accordion-element-957643" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    功能块...
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-826959" href="#accordion-element-820466">选项卡 #2</a>
                            </div>
                            <div id="accordion-element-820466" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    功能块...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            <a id="modal-788435" href="#modal-container-788435" role="button" class="btn" data-toggle="modal">触发遮罩窗体</a>

            <div id="modal-container-788435" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">
                        标题栏
                    </h3>
                </div>
                <div class="modal-body">
                    <p>
                        显示信息
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary">保存设置</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h2>
                标题
            </h2>
            <p>
                本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
            </p>
            <p>
                <a class="btn" href="#">查看更多 »</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>